#this{
    text-align: center;
    color: darkorchid;
}
#title{
    color: blueviolet;
}
#pregunta{
    color: crimson;
}

body{
    background-color: black;
}
#imprimir{
    color: aliceblue;
}
